<div class="col-md-6 col-md-offset-3">
    <div ng-show="vm.errorMessage" class="text-danger">{{vm.errorMessage}}</div>
    <wait-cursor ng-show="vm.isBusy"></wait-cursor>
    <form method="post">
        <table class="table table-responsive table-striped">
            <tr class="tripClass form-group" ng-repeat="trip in vm.trips">
                <td asp-for="Name">{{trip.name}}</td>
                <td>{{trip.created | date:'MM-dd-yyyy'}}</td>
                <td><a ng-href="#/editor/{{trip.name}}" class="btn btn-sm btn-primary">Manage</a></td>
            </tr>
        </table>
    </form>

    <form novalidate name="newTripForm" ng-submit="vm.addTrip(newTripForm)">
        <div class="form-group">
            <label for="name"></label>
            <input type="text" id="name" name="name" class="form-control" ng-model="vm.newTrip.name" required ng-minlength="5" />
            <span ng-show="newTripForm.name.$error.required && newTripForm.$dirty" class="text-warning">Name is required</span>
            <span ng-show="newTripForm.name.$error.minlength" class="text-warning">Name bust be at least 5 characters</span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-sm btn-success" ng-disabled="newTripForm.$invalid" />
        </div>
    </form>
</div>